<!DOCTYPE html>
<html color-mode="user">
    <head>
        <title>Nightbot OAuth Redirector</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>Nightbot OAuth Redirector</h1>
        </header>
        <main id="app">
            
        </main>
    </body>
</html>